._*
.~lock.*
.buildpath
.DS_Store
.idea
nbproject
.project
.settings
_reports
.lock
.log
.grunt/
bower_components/
node_modules/

composer.phar
/vendor
/build

*.lock
.idea/
*.sublime-*
.env
storage/logs/
storage/cache/

/public/
!/public/.htaccess
!/public/favicon.ico
!/public/index.php
!/public/robots.txt
